<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="" method="post">
        {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% for field in form %}
            
            <label for="">{{field.label}}</label>
            {{field}} <br>
            {% for error in form.field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            
            
        {% endfor %}
        <button type="submit">Login</button>
        <p><a href="{% url 'account_reset_password' %}">forgotten password?</a></p>
        <p><a href="{% url 'account_signup' %}">new user?</a></p>
    </form>
    <div>
        <p><a href="{% url 'social:begin' 'github' %}">with github </a></p>
        <p><a href="{% url 'social:begin' 'google-oauth2' %}">with google</a></p>
    </div>
</body>
</html>