<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Security Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">    </script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/98419d1ec4.js" crossorigin="anonymous"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>
</head>
<body>
  <header>
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-dark">
      <div class="container-md">
        <button
          class="navbar-toggler navbar-left"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offCanvaslinks"
          aria-controls="offCanvaslinks"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i class="fa-solid fa-bars" style="color:#fff;"></i></i></span>
        </button>
        <a class="navbar-brand" href="#"
          ><img src="/static/assets/img/Bytsfylogo.svg" alt="Bytsfy logo" width="80px" height="25px"/></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i class="fa-solid fa-ellipsis-vertical" style="color:#fff;"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar_links">
            <ul class="navbar-nav navbar-nav-scroll justify-items-distribute">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  Home</a>

              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  About<i class="fa-solid fa-chevron-down fa-3xs px-1"></i>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">FAQ</a>
                  <a class="dropdown-item" href="#">Testimonials</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">Resources<i class="fa-solid fa-chevron-down fa-3xs px-1"></i></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">API</a>
                    <a class="dropdown-item" href="#">Blog</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Tools<i class="fa-solid fa-chevron-down fa-3xs px-1"></i>
                  </a>
                  <div class="dropdown-menu">
                    <div class="row">
                      <div class="col">
                        <h5 class="text-center"><strong>Split Files</strong></h5>
                        <a class="btn btn-light dropdown-item text-center" href="#">Upload Files</a>
                        <a class="btn btn-light dropdown-item text-center" href="#">Split by line</a>
                        <a class="btn btn-light dropdown-item text-center" href="#">Split by size</a>
                        </div>
                      <div class="col">
                        <h5 class="text-center"><strong>Convert Files</strong></h5>
                        <a class="btn btn-light dropdown-item text-center" href="#">Upload Files</a>
                        <a class="btn btn-light dropdown-item text-center" href="#">Convert CSV to JSON</a>
                        <a class="btn btn-light dropdown-item text-center" href="#">Convert JSON to CSV</a>
                        <a class="btn btn-light dropdown-item text-center" href="#">Convert CSV to Others</a>
                        <a class="btn btn-light dropdown-item text-center" href="#">Convert JSON to Others</a>

                      </div>
                      <div class="col">
                        <h5 class="text-center"><strong>Compress Files</strong></h5>
                        <a class="btn btn-light dropdown-item text-center" href="#">Upload Files</a>
                        <a class="btn btn-light dropdown-item text-center" href="#">Compress by size</a>
                      </div>
                    </div>
                  </div>
                </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Blog</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Contact</a>
              </li>
            </ul>
          </div>
          <div class="nav navbar-nav navbar-right">
            <div class="dropdown" >
                  <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                  <span class=" nav-link navbar_userlink navbar-toggler-icon2" ><i class="fa-regular fa-circle px-2" > </i>Shawn L.   <i class="fa-solid fa-chevron-down fa-2xs px-2"></i></span></a>
             <div class=" row dropdown-menu user_dropdownmenu">

                   <div class="m-4"><a href="" class="nav-link2" >Profile</a></div>
                   <div class="m-4"><a href="" class="nav-link2">Dashboard</a></div>

                   <div class=""><button href="#" class="btn btn-primary m-4"><span><i class="fa-solid fa-right-from-bracket"></i></span>
                    Logout</button></div>
              </div>
            </div>
          </div>
        </div>
</nav>
</div>
</header>
<main>

    <div class="container-fluid">
          <div class="row mt-5">
                 <div  class="col-3 offcanvas-lg offcanvas-start text-black outeroffcanvasdiv bg-secondary1 "  data-bs-scroll="true" tabindex="-1" id="offCanvaslinks" aria-labelledby="offCanvaslinksLabel">
                 <div class="wrapperoffcanvasdiv  mx-2 mt-5 pt-2">
                        <h4 class="offcanvas-title  pt-2 pb-7 d-inline"   id="offCanvaslinksLabel">YOUR ACCOUNT</h4>
                        <button type="button" class="btn-close containersm text-reset"  data-bs-dismiss="offcanvas"></button>

                     <div class=""><a href="#" class=" nav-link text-black mt-5 mb-5">Dashboard</a></div>
                     <div class="dropdown d-block">
                      <a class="dropdown-toggle text-black pt-5 mt-5 mb-5" style="text-decoration:none !important;" href="#" role="button" data-bs-toggle="dropdown"  id="sidebardropdown">
                         My Account<i class="fa-solid fa-chevron-down fa-3xs px-1"></i>
                       </a>
                           <div class="dropdown-menu" aria-labelledby="sidebardropdown">
                              <a class="dropdown-item" href="#">My Profile</a>
                              <a class="dropdown-item" href="#">My Security</a>
                           </div>
                       </div>
                     <div class="inneroffcanvasdiv" >
                     <a href="#" class="nav-link text-black mt-5">Logout</a></div>
                 </div>
            </div>
             <div class="col-9">
                 <div class="row mt-5" >
                    <div><h2 class="pb-2 mt-3 ms-sm-5 formtext" >Password</h2></div>

                     <div class="offset-sm-3 offset-lg-1 justify-content-start w-75"  id="liveAlertPlaceholder"></div>


                     <div class="col-9 offset-sm-3 offset-lg-1">
                      <div class="card mt-3 mb-3 w-75">
                             <h3 class="card-title formtext mx-3 pt-3">Reset Password</h3>
                             <div class="row g-0">

                                    <div class="card-body">
                                            <div>
                                                 <form action="" method="post">
                                                        {% csrf_token %}
                                                     <div class="form-control w-100" > {{form.as_p}} </div>
                                                    <button  type="submit" class="btn btn-primary  my-2 text-end w-auto" id="liveAlertBtn">change</button>
                                                    </form>
                                            </div>
                                     <div class="d-grid gap-2 d-flex justify-content-end">

                                     <script>
                                         var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                                         var alertTrigger = document.getElementById('liveAlertBtn')

                                         function alert(message, type) {
                                           var wrapper = document.createElement('div')
                                           wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'

                                           alertPlaceholder.append(wrapper)
                                         }

                                         if (alertTrigger) {
                                           alertTrigger.addEventListener('click', function () {
                                             alert('<span><i class="fa-solid fa-circle-check"></i></span> Confirmed! Your password has been reset', 'success')
                                           })
                                         }</script>
                                 </div>
                                 </div>
                             </div>
                         </div>

                     </div>

                 </div>
                 <div class="page-footer d-flex">
                      <div class="d-inline"><p >Copyright 2022 <span>Bytsfy</span> - All rights reserved.</p></div>

                      <div class="d-inline"><p >Privacy Policy</p></div>
                      <div class="d-inline"><p>Terms of Use</p></div>
                      </div>
             </div>
          </div>
    </div>


 </main>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
 </body>