* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  background-color: #072f69;

  font-size: 20px;
  color: white;
}

#first {
  background-color: #072f69;
  padding: 30px;

  gap: 40px;
}
.f1 {
  margin-right: 40px;
  margin-left: 20px;
}
.f1,
.f2,
.f3,
.f4 {
  margin-top: 70px;

  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.fa-brands {
  color: aqua;
}
.fa-solid,
span {
  color: #ffc700;
}
.fa-people-group {
  color: white;
}
button {
  background-color: #072f69;
width: 90%;
  border-radius: 20px 20px 0px 0px;
  border: solid 2px #ffc700;

  padding: 30px;
  font-size: 18px;
  border-bottom: none;

  color: white;
}
#btn {
  background-color: #072f69;
 
}

.logo {
  width: 50%;

  
}
#second {
  background-color: #008bfa;
  display: flex;
  flex-direction: row;

  gap: 25%;
  padding: 50px;
  border-top: 5px solid #ffc700;
}
a {
  text-decoration: none;
  color: white;
}
#c {
  padding-left: 4%;
}
