<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <h1>REGISTER</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">REGISTER</button>
        <p><a href="{% url 'login' %}">already a user?</a></p>
    </form>
    <div>
        <p><a href="{% url 'social:begin' 'github' %}">with github </a></p>
        <p><a href="{% url 'social:begin' 'google-oauth2' %}">with google</a></p>
    </div>
</body>
</html>