<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page</title>
    <!--Bootstrap--->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!--Custom CSS--->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--Google Fonts--->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200;300;400;500;600&display=swap"
          rel="stylesheet">

    <!--Fontawesome CDN--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

</head>

<body>
<!------------------------------Navbar Section------------------------------->
<header class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-white pt-3 mb-1 ml-lg-3 mr-lg-3">
        <div class="container">
            <a class="navbar-brand" href="/index.html"><img src="../assets/img/logo.svg" alt="nav-logo"></a>
            <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> <i class="fa-solid fa-align-right nav-icon"></i></span></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-ul">
                    <li class="nav-item nav-items">
                        <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>

                    <li class="nav-item dropdown nav-items">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu dropdown1">
                            <li><a href="./FAQ.html" class="dropdown-item dropdown-items">FAQs</a></li>
                            <li><a href="./Blog.html" class="dropdown-item dropdown-items">Blogs</a></li>
                            <li>
                                <a class="dropdown-item dropdown-items" href="./API-introduction.html">Documentation</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown nav-items">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Tools
                        </a>
                        <div class="dropdown-menu dropdown1 wide-nav ">
                            <div class="row ">
                                <div class="text-center">
                                    <h5 class="text-center"><strong>Split Files</strong></h5>
                                    <a class="dropdown-item text-center" href="./FileUpload.html">Upload Files</a>
                                    <a class="dropdown-item text-center" href="./CSV.html">Chunk by CSV
                                    </a>
                                    <a class="dropdown-item text-center" href="./JSON.html">Chunk by JSON</a>
                                </div>

                            </div>
                        </div>

                    </li>
                    <li class="nav-item nav-items">
                        <a href="./contact.html" class="nav-link">Contact</a>
                    </li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                    <div class="dropdown ">
                        <a href="#" class="dropdown-toggle " data-bs-toggle="dropdown">
                            <span class=" nav-link  navbar-toggler-icon2 mb-3"><img src="../assets/img/user-profile.svg"
                                                                                    alt=""> Shawn L.</span></a>
                        <div class=" row dropdown-menu user_dropdownmenu dropdown1 ">
                            <div class="m-4"><a href="./profile.html" class="nav-link2">Profile</a></div>
                            <div class="m-4"><a href="./Dashboard.html" class="nav-link2">Saved Items</a></div>

                            <div class="">

                                <a href="./Sign_In.html">
                                    <button href="./Sign_In.html" class="btn btn-subscribe1 m-3">
                                            <span>
                                                <i class="fa-solid fa-right-from-bracket"></i>
                                            </span>
                                        Logout
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!------------------------------Blog Header------------>
<div class="container-fluid">
    <div class="row blog-post">
        <a class="blogHeader" href="/Pages/Blog.html">
            <h4>
                Bytsfy Blog
            </h4>
        </a>
    </div>
</div>

<!---------------------------Blog Article  Section---------------->
<div class="container-fluid">
    <div class="row mx-3 ">

        <!-------------------Blog Image--------------->
        <div class="col-12 mt-5 mb-3">
            <img src="../assets/img/blog-image 11.png" alt="data" class=" img-fluid w-100  rounded"></img>
        </div>

        <!------------Blog Article----------->
        <div class="col-12">
            <div class="w-100">
                <h3 class="w-100 mb-5">
                    Survey on JSON Data Modelling
                </h3>

                <p>JSON (JavaScript Object Notation) [1-3] is a popular lightweight semi-structured data format based on
                    the data types of programming language JavaScript. It has become the main data exchange format over
                    the World Wide Web in the past
                    few years. JSON has also gained popularity in database community research. As a semi-structured data
                    format, JSON not only can be integrated in traditional database systems, but also widely used in
                    NoSQL database systems[4-5].
                    Some query languages for JOSN such as JSONiq [6,7] and SQL++[8] are already proposed to support JSON
                    data querying.
                <p>Data model describes the basic data structures and semantics of the underlying data, so it is the
                    fundamental and key aspects for any data format including JSON data. As data model is also the key
                    and foundation for other data
                    management technologies, such as data indexing, data querying, data searching, data mapping, data
                    integrating, and data mining, how to design an efficient and powerful model for JSON data is
                    necessary and important to other
                    related research topics, such as data integration, data search and query, data quality and
                    evaluation, etc. Now researchers proposed some approaches to modelling JSON documents mainly based
                    on tree models [9-11].</p>
                <p>The rest of the paper is organized as follows. A JOSN document is a set of objects, and each JOSN
                    object is a set of key-vlaue pairs. We first discuss JSON object and tree models in Section 2. For
                    arrays in JSON documents, there
                    are two approaches namely ordered approach and unordered approach, which are given in Section 3. As
                    an object can be again its own sub-objects in JOSN data,recursions must be considered in JSON model,
                    which are given in Section
                    4. JOSN schema definition and their related schema definitions are also discussed in Section 4. We
                    conclude the paper and point out the future directions of the topic in Section 5.</p>
                </p>
                <h5>2. Objects and JSON Trees</h5>

                <p>As each JSON object in a JSON document is a set of key-vlaue pairs, a JOSN document can be aturally
                    represented as a data tree structure called JSON tree. A value can be an atomic value such as a
                    string, an integer, a number, an array,
                    or null. To capture the compositional structure of JSON data,each value can again be a set of JSON
                    objects. We first give the definition of a JOSN document as following:
                </p>
                <p>Definition 1 (JSON document). A JOSN document D is defined as</p>

                <p class="text-center"> D::={Object[,Object, …]},</p>

                <p>where</p>

                <p class="text-center"> Object ::= {Key:{Value} [, Key:{Value}, …]},</p>

                <p class="text-center"> Key ::= String,</p>

                <p class="text-center"> Value ::= String|Interger|Number|Array|Null|Object.</p>

                <p>For example, consider the following JSON document D1:</p>

                <p>{</p>

                <p>&nbsp;&nbsp;“name”: {</p>
                <p>&nbsp;&nbsp;&nbsp;“FirstName”: “Bill”,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“LastName”: “Bush”</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-},</p>
                <p>&nbsp;&nbsp;“age”: 30</p>
                <p>&nbsp;}</p>
                <p>JSON document D1 contains 2 objects O1 and O2 as following:</p>
                <p>O1::= {</p>
                <p>&nbsp;&nbsp;&nbsp;“FirstName”: “Bill”,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“LastName”: “Bush”</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</p>
                <p>&nbsp;}</p>
                <p> with key “name” and</p>
                <p>O2::={</p>
                <p>&nbsp;&nbsp;“age”: 30</p>
                <p>&nbsp;}</p>
                <p>with key “age” and an atomic integer value “30”.</p>
                <p>The value of key of O1 again contains 2 objects O11 and O12 as following:</p>
                <p>O11::={</p>
                <p>&nbsp;&nbsp;&nbsp;“FirstName”: “Bill”,</p>
                <p>&nbsp;}</p>
                <p>with key “FirstName” and an atomic string value “Bill” and</p>
                <p>O12::={</p>
                <p>&nbsp;&nbsp;&nbsp; “LastName”: “Bush”</p>
                <p>&nbsp;}</p>
                <p> with key “LastName” and an atomic string value “Bush”.</p>
                <p>Of course, a value may contain nothing, which can be represented by type “Null”. For type “Array” and
                    “Number”, we will explained in Section 3.</p>

                <h5> 3. Arrays and Numbers</h5>

                <p>Suppose we have the following 2 children O3 and O4 of “Bill Bush” in JSON document D1:</p>
                <p>O3::={</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “name”: {</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“FirstName”: “John”,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    “LastName”: “Bush”</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    },
                </p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“age”: 10</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
                <p>and</p>
                <p>O4::={</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “name”: {</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“FirstName”: “Mary”,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    “LastName”: “Bush”</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    },
                </p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“age”: 12</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>
                <p>To combine O3 and O4 in JSON document D1, we add a new key “children” in D1 and arrange O3 and O4 as
                    an array [O3,O4] and numbered by numbers “1” and “2” sequentially as {1:O3, 2:O4}:</p>
                <p>{</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “name”: {</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“FirstName”: “Bill”,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    “LastName”: “Bush”</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    },
                </p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“age”: 30</p>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“children”: {1:O3, 2:O4}</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</p>

                <p>For the problem of whether an array is ordered or unordered, there are two different treatments.</p>
                <p> Ref.[10] treated an array to be unordered based on the following two reasons: First, as JSON
                    Navigation instructions use random access to access elements in arrays; treating arrays as ordered
                    lists will naturally suggest that the navigation
                    instructions support different access methods to access elements of the array. Second, no system
                    actually supports the navigation from one element to another element in an array. Ref.[11] also
                    mainly concentrated on unordered arrays,
                    but proposed a total order on atomic keys which can model ordered arrays. We think that arrays to be
                    ordered will add feasibility and flexibility in JSON navigation in the future, which can provide
                    more access functionalities such
                    as accessing the first, accessing the last, accessing the previous, and accessing the next element
                    from a given element or position in an array, etc.</p>
                <h5>4. Recursions</h5>
                <p> Back to object O3 and O4. From the definition of D1, we can see that the structures of O3 and O4 are
                    identical to the structure of D1. Suppose that we want to represent a family tree such that children
                    O3 and O4 will have children
                    several years later, we can use recursion to achieve this goal. We apply a JSON Schema to specify
                    what a JSON document must look like, the ways to extract information from it, and how to interact
                    with it. We first give the schema
                    definition S0 based on Ref.[9] as following:</p>
                <p>{</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “definitions”: {</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“type”: “Object”,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    “properties”:{
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“Name”:
                    {“type”: “Object”,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“properties”:{</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“FirstName”:
                    {“type”: “String”},</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“LastName”:
                    {“type”: “String”}</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    },
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    “type”: “Object”,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    “properties”:{
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    “age”: {“type”: “Integer”}{</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    },
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“type”: “Object”,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    “properties”:{</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“children”:
                    {“type”: "Array”,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“miniItems”:0</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“maxItems”:
                    unlimited,
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“items”:
                    [
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {“$ref”: “#/definitions/S0”},</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {“$ref”: “#/definitions/S0”},</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    ]
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    }
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    }</p>
                <p>&nbsp;&nbsp;&nbsp; }</p>

                <p>Schema S0 defines an object which has sub-objects “Name”, “age”, and “children”, respectively. For
                    sub-object “Name”, there are two sub-objects “FirstName” and “LastName”, which are both String
                    types. For sub-object “age”, it is an
                    Integer type (atomic type). For sub-object “children”, it is an Array type (atomic type), which
                    again contains 0-unlimited numbers of object of type S0. Now we give the recursion schema definition
                    of JSON document D1 as the following
                    schema S1:
                </p>
                <p>{</p>
                <p>&nbsp;&nbsp;&nbsp;“$ref”: “#/definitions/S0”</p>
                <p>}</p>
                <p>which is obviously a recursion definition of S0. Ref.[12] provides detailed JSON Schema definition
                    and formal grammar specification for the JSON Schema documents. Other schema specification and
                    proposals related to JSON are proposed,
                    which are either formal specification standards, or are accepted only for specific use cases, or
                    applied in a specific application. For example, JSON Schema[13] defines the media type
                    application/schema+json", a JSON-based format
                    for describing the structure of JSON data. The "application/schema-instance+json" media type
                    provides additional feature-rich integration with "application/schema+json" beyond what can be
                    offered for "application/json" documents.
                    Swagger[14] is a framework of API developer tools for the OpenAPI Specification(OAS), enabling
                    developmentacross the entire API lifecycle, from design to test and deployment based on JSON.
                    RAML(RESTful API Modeling Language) [15]
                    makes it easy to manage the whole API lifecycle from design to sharing based on JSON. You only write
                    what you need to define, which can be reused later. It is a machine readable API design that is also
                    human friendly. JSON-LD[16]
                    is a JSON-based format to serialize Linked Data. It is designed to easily integrate into deployed
                    systems that already use JSON, and provides a smooth upgrade path from JSON to JSON-LD. One of its
                    primary goals is to store Linked
                    Data in JSON-based storage engines.
                </p>

                <h5>5. Conclusions</h5>
                <p>This paper presents a survey study of different kinds of models of uncertain data in relational , XML
                    data, and graph data. We mainly discuss and review probabilistic uncertain data models as they not
                    only are widely used in many applications
                    and areas nowadays, but also have better tradeoffs between simplicity and expressive power. The open
                    problems of modelling JSON data include both semantic and computation aspects. For semantic aspect,
                    there is no accepted unified
                    model by all community for JOSN data. In real applications, such semantic problems may dependent on
                    specific applications. It is difficult to give a general guideline to design good JSON document and
                    model. For computational aspect,
                    one major problem of recursions in JSON document and schema definition is that processing JOSN
                    document and schema efficiently is a challenge. Algorithms of non-recursions are difficult to deal
                    with the recursions in JOSN data,
                    which are usually exponential scale. One possible approach is use parallel algorithms to deal with
                    recursions, such as the popular Map Reduce framework. Another open problem is to propose some
                    criteria for modelling JOSN data,
                    such as expressive power. </p>
            </div>
        </div>
    </div>
</div>

<!---------------------------Subscription Section---------------------------->

<div class="container-fluid Subscription mt-5 ">
    <div class="text-center pt-5 pb-3">
        <h2 class="contact-header">Subscribe to Our NewsLetter</h2>
        <p class="contact-paragraph pt-2 pb-4">We constantly work towards serving you better. subscribing to our news
            letter means getting the latest update about our product and services</p>
    </div>
    <div class="container text-center pb-3">
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
                <div class="col-sm-auto col-lg-6 mb-3">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="background-color: #0E103D;">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                        </div>
                        <input type="text " class="form-control " id="inlineFormInputGroupUsername2 "
                               placeholder="enter email">
                    </div>
                </div>
                <div class="col">

                </div>
            </div>
            <button type="button" class="btn-subscribe text-center">Subscribe</button>
            <a href="index.html">
                <button type="button" class="btn-subscribe1 text-center"> Contact Us</button>
            </a>

        </div>

    </div>
</div>

<!---------------------Footer Section---------------------->
<section class="footer container-fluid " id="footer">
    <div class="container ml-lg-5 mr-lg-4 ml-sm-2 ml-md-2">
        <div class="row ">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="container text-left footer-logo">
                    <div class="">
                        <div class="col-sm  mb-2 pt-lg-5 pt-sm-3 "><img src="../assets/img/logof.svg " class=""
                                                                        alt="footer-logo ">
                        </div>
                        <div class="col-sm footer-text mb-4">
                            <p class="footer-p">With you our esteemed customers in our mind, Bytsfy was built to break
                                up your large and medium files into smaller chunks and make it easy for you to share,
                                sae or download. </p>
                        </div>
                        <div class="col-sm icons mb-4">
                            <img src="../assets/img/socials.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12  pt-lg-3 pt-sm-2">
                <h4 class="footer-header">Quick Links</h4>
                <ul class="quicklinks">
                    <a href="../index.html">
                        <li class=".">Home</li>
                    </a>
                    <a href="./FileUpload.html">
                        <li>Tools</li>
                    </a>
                    <a href="./Blog.html">
                        <li>Blogs</li>
                    </a>
                    <a href="./ResourcePGs/resourcepg.html">
                        <li>Resources</li>
                    </a>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pt-lg-3 pt-sm-2">
                <h4 class=" footer-header">Quick Action</h4>
                <ul class="quickActions ">
                    <a href="./FAQ.html">
                        <li>FAQs</li>
                    </a>
                    <a href="">
                        <li>API</li>
                    </a>
                    <a href="./contact.html">
                        <li>Contact</li>
                    </a>
                    <a href="./testimonial">
                        <li>Testimonial</li>
                    </a>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pt-lg-3 pt-sm-2">
                <h4 class=" footer-header">Address</h4>
                <div class="location d-flex d-sm-flex mt-3">
                    <i class="fa-solid fa-location-dot pt-4 pr-2 pl-3 pb-2"></i>
                    <p class="p-2">No 21 Broad Str, off Bypass St Philip, Dewa Nigeria.</p>
                </div>
                <div class="number d-flex ">
                    <i class="fa-solid fa-phone p-2"></i>
                    <p class="p-2">01-023-257</p>
                </div>
                <div class="mail d-flex ">
                    <i class="fa-solid fa-envelope p-2"></i>
                    <p class="p-2">hello@Bytsfy.work</p>
                </div>
            </div>
        </div>
        <div class="container row chat-box">
            <div class="col-8 "></div>
            <div class="col-4 footer-chat d-flex">
                <img src="../assets/img/chat-img.svg" class="chatimg" alt="chatimg">
                <h5 class="chattext">Chat with our Agents</h5>
            </div>
        </div>
    </div>

</section>
<!-- <hr class="footer-line"> -->
<section class="container-fluid copyright pb-2 pt-4 " id="copyright">
    <div class="container">
        <div class="row flex-column-reverse flex-lg-row ">
            <div class="col text-left">
                <p> Copyright &copy; 2022
                    <span class="copy-span"> Bytsfy </span> - All rights reserved.
                </p>
            </div>
            <div class="col ">

            </div>
            <div class="col ">
                <ul class="termspolicy ">
                    <li class="">Privacy Policy</li> &nbsp;
                    <li class="">Terms</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

</body>

</html>