<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Page</title>
    <!--Bootstrap--->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!--Custom CSS--->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!--Google Fonts--->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200;300;400;500;600&display=swap" rel="stylesheet">

    <!--Fontawesome CDN--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

</head>

<body>
    <!------------------------------Navbar Section------------------------------->
    {% include 'navbar.html' %}
    <!---------------------------First  Section---------------->
    <div class="container-fluid">
        <div class="row first-section-bg">
            <div class="col-12 col-lg-6">
                <div class="w-100">
                    <h3 class="w-100 blogh3">
                        JSON Data structure, what is it made of?
                    </h3>
                    <p>
                        Undertanding the structure of JSON is a challenge for most who work with data. Having a good knowledge of the structure will help you work better with JSON files. Here`s the breakdown of the JSON Data Structure......
                    </p>
                </div>
                <div class="row  mb-3">
                    <div class="col">
                        <a href="{% url 'blogpg0' %}" class="btn btn-link blog-link-color ">Read More</a>
                    </div>


                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img src="{% static 'assets/img/blog-image 8.png' %}" alt="JSON" class=" img-fluid w-100 rounded"></img>
            </div>
        </div>

    </div>
    <!---------------------------Blog Body Section------------------>
    <!----Row 1-->

    <div class="container-fluid">
        <div class="row mt-5 mb-2 mx-5 d-flex align-items-stretch">
            <div class="col-12 col-md-4 my-3">
                <div class="card w-auto h-100">
                    <img src="{% static 'assets/img/blog-image 10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title blogh5">What is JSON? Explained with JSON Examples</h5>
                        <p class="card-text">What is JSON? JSON is a way to store, persist data in a structure which is easy to read and easy to access... <a href="{% url 'blogpg1' %}" class="link-color text-decoration-none"><strong>Read
                                More</strong></a></p>
                    </div>
                    <div class="row mx-3 mb-3">

                        <div class="col">
                            <p class="text-end">July 24, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card w-auto h-100">
                    <img src="{% static 'assets/img/blog-image 11.png' %}" class="card-img-top" alt="...">
                    <div class="card-body h-100">
                        <h5 class="card-title blogh5">Survey on JSON Data Modelling</h5>
                        <p class="card-text">JSON (JavaScript Object Notation) [1-3] is a popular lightweight semi-structured data format based on the data types of... <a href="{% url 'blogpg2' %}" class="link-color text-decoration-none"><strong>Read
                                More</strong></a></p>
                    </div>
                    <div class="row mx-3 mb-3">


                        <div class="col">
                            <p class="text-end">July 24, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card w-auto h-100">
                    <img src="{% static 'assets/img/blog-image 12.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title blogh5">JSON Example With Data Types Including JSON Array</h5>
                        <p class="card-text">This article will have all the JSON Examples which covers each and every data type JSON supports. Here is the .. <a href="{% url 'blogpg3' %}" class="link-color text-decoration-none"><strong>Read
                                More</strong></a>.</p>
                    </div>
                    <div class="row mx-3 mb-3">


                        <div class="col">
                            <p class="text-end">July 24, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!----Row 2-->
    <div class="container-fluid">
        <div class="row mt-5 mb-2 mx-5 d-flex align-items-stretch">
            <div class="col-12 col-md-4 my-3">
                <div class="card w-auto h-100">
                    <img src="{% static 'assets/img/blog-image 13.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title blogh5">Working with CSV and JSON for data solutions.</h5>
                        <p class="card-text">Modern industries today are flooded with data, and as a result, there is great value processing ana analyzing the...
                            <a href="{% url 'blogpg4' %}" class="link-color text-decoration-none"><strong>Read
                                More</strong></a></p>
                    </div>
                    <div class="row mx-3 mb-3">

                        <div class="col">
                            <p class="text-end">July 24, 2022</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card w-auto h-100">
                    <img src="{% static 'assets/img/blog-image 14.png' %}" class="card-img-top" alt="...">
                    <div class="card-body h-100">
                        <h5 class="card-title blogh5">Check undefined Javascript, two ways to do it.</h5>
                        <p class="card-text">How to check for undefined in Javascript? Simple answer would be to use If condition, in case the variable is infinite...<a href="{% url 'blogpg5' %}" class="link-color text-decoration-none"><strong>Read
                                More</strong></a></p>
                    </div>
                    <div class="row mx-3 mb-3">

                        <div class="col">
                            <p class="text-end">July 24, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card w-auto h-100">
                    <img src="{% static 'assets/img/blog-image 15.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title blogh5">XLM Pretty Print Using Python- With Examples</h5>
                        <p class="card-text">XML Pretty Print using Python is required frequently for testing, analyzing and debugging XML data. Python and XML both... <a href="{% url 'blogpg6' %}" class="link-color text-decoration-none"><strong>Read
                                More</strong></a></p>
                    </div>
                    <div class="row mx-3 mb-3">

                        <div class="col">
                            <p class="text-end">July 24, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!------Row 3 -->
    <div class="container-fluid">
        <div class="row mt-5 mb-2 mx-5 d-flex align-items-stretch">
            <div class="col-12 col-md-4 my-3">
                <div class="card w-auto h-100">
                    <img src="{% static 'assets/img/blog-image 16.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title blogh5">Convert String to JSON object using Javascript</h5>
                        <p class="card-text">Converting String to JSON object using Javascript is an essential task if you are working heavily on data that...
                            <a href="{% url 'blogpg7' %}" class="link-color text-decoration-none"><strong>Read
                                More</strong></a></p>
                    </div>
                    <div class="row mx-3 mb-3 align-content-center">

                        <div class="col">
                            <p class="text-end">July 24, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card w-auto h-100">
                    <img src="{% static 'assets/img/blog-image 17.png' %}" class="card-img-top" alt="...">
                    <div class="card-body h-100">
                        <h5 class="card-title blogh5">Generate Random number using Python</h5>
                        <p class="card-text">Need some random numbers in your program? This article will help you to know different techniques...<a href="{% url 'blogpg8' %}" class="link-color text-decoration-none"><strong>Read
                                More</strong></a></p>
                    </div>
                    <div class="row mx-3 mb-3 align-content-center">

                        <div class="col">
                            <p class="text-end">July 24, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="card w-auto h-100">
                    <img src="{% static 'assets/img/blog-image18.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title blogh5">A deep look into comparison of CSV and JSON files</h5>
                        <p class="card-text">It has been a commonly raised question as to what works best between JSON and CSV when working with data. Today we`re going to...<a href="{% url 'blogpg9' %}" class="link-color text-decoration-none"><strong>Read
                                More</strong></a></p>
                    </div>
                    <div class="row mx-3 mb-3 align-content-center">

                        <div class="col">
                            <p class="text-end">July 24, 2022</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!---------------------------Subscription Section---------------------------->

    {% include 'subscription.html' %}

    <!---------------------Footer Section---------------------->
    {% include 'footer.html' %}



    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

</body>

</html>