<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <!--Bootstrap--->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!--Custom CSS--->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!--Google Fonts--->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200;300;400;500;600&display=swap" rel="stylesheet">

    <!--Fontawesome CDN--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

</head>

<body>
    <!------------------------------Navbar Section------------------------------->
    {% include 'navbar.html' %}
    <!------------------------------hero Section------------------------------->
    <section class="container-fluid hero-login p-5">
        <div class="container">
            <div class="row flex-column flex-lg-row">
                <div class="col">
                    <h2>Ask A Question</h2>
                    <p>Search our database for answers</p>
                </div>
                <div class="col">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search this blog">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------FAQs Section------------------------------->
    <div class="mb-lg-3 mb-sm-2 text-center">
        <h2 class=" text-center mb-3 mt-4">Frequently Asked Questions</h2>
        <div class="container">
            <div class="row">
                <div class="col mb-3">
                    <p class="">Our customers sometimes get comfused about our product usage. These frequently asked questions have helped alot of our users understand our product better, read through and also feel free to add yours</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">

                <button class="drop collapsible">What form of file can i download</button>
                <div class="content">
                    <p>you can download two forms of files, that is a JSON file and CSV file. Other form of file coming soon.</p>
                </div>
                <button class="drop collapsible">How do i upload a file for splitting?</button>
                <div class="content">
                    <p>You can click on the “upload file” button and drop your file from your computer</p>
                </div>
                <button class="drop collapsible">How long will it take to download my file?</button>
                <div class="content">
                    <p>depending on the size of the file, you spend few minute to download your file
                    </p>
                </div>
                <button class="drop collapsible">Must i signn up before i can use the platform</button>
                <div class="content">
                    <p>There is no need for a subscription fee before using the platform, it is totally free, however you need to sign up before you can have full access to the platform.
                    </p>
                </div>

                <button class="drop collapsible">when can i use the platform as an extension?</button>
                <div class="content">
                    <p>subscribe to get our email updates as soon as it is released, also the download button will become available to enable users to download the extension.
                    </p>
                </div>
                <button class="drop collapsible">Can bytsfy be accessed through any web browser?</button>
                <div class="content">
                    <p>Bytsfy can be accessed through chrome, Firefox, Explorer +10, UC and Safari. To run our tools smoothly, we recommend that you work with the browsers listed. Our system requirement are basic and if at any point you experience issues,
                        we recommend that you
                        <a href="./contact.html">contact us</a>.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <button class="drop collapsible">What is the limit for setting the size of uploaded file?</button>
                <div class="content">
                    <p>you can set the size of your file to a reasonable range for chunking depending on the size of the file. However, the minimum data size should be up to 100Bytes and the maximum is 200MB.</p>
                </div>
                <button class="drop collapsible">Are my files save and secured by bytsfy?</button>
                <div class="content">
                    <p>Your data is processed as safely as possible. For more privacy, our service incudes end-to-end encryption for all file uploads use http/ssl. Our compliance is in line with one of the most nonindulgent safety standards in the world
                        (GDPR), EU Data Protection Regulation. These steps ensure security and satisfy most of the </p>
                </div>
                <button class="drop collapsible">Are my files probed b y bytsfy?</button>
                <div class="content">
                    <p>Utterly not. Your files are yours! not in any way would we analyse, check or copy them. Your files are scrictly secured in our servers.
                    </p>
                </div>
                <button class="drop collapsible">How do i dowload my splitted file?</button>
                <div class="content">
                    <p>After using the platform for your desired function, click on download to download the file into your PC or mobile phone</p>
                </div>

                <button class="drop collapsible">Can btysfy be accessed through my web browser?</button>
                <div class="content">
                    <p>Bytsfy can be accessed through chrome, Firefox, Explorer +10, UC and Safari. To run our tools smoothly, we recommend that you work with the browsers listed. Our system requirement are basic and if at any point you experience issues,
                        we recommend that you contact us.</p>
                </div>
                <button class="drop collapsible">How can i gain full access to the platform?</button>
                <div class="content">
                    <p>to have full access, you will need to sign up on the platform in order to have a better user experience.</p>
                </div>

            </div>

            <button class="collapsible q-form">Still Confused About Something? Click Here to Add a Question</button>
            <div class="q-content">
                <form action="">
                    <div class="form-group mb-4">
                        <label for="exampleFormControlTextarea1" class="m-2 q-label">Type a Question Below</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                    </div>
                    <button type="submit" class="btn-contact mt-2 mb-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!---------------------------Subscription Section---------------------------->

    {% include 'subscription.html' %}
    
    <!---------------------Footer Section---------------------->
    {% include 'footer.html' %}
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>

</body>

</html>