{% load static %}
    <!------------------------------Navbar Section------------------------------->
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg bg- pt-3 mb-1">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="{% static 'assets/img/logo.svg' %}" alt="nav-logo"></a>
                <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> <i class="fa-solid fa-align-right nav-icon"></i></span></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-ul">
                        <li class="nav-item nav-items">
                            <a class="nav-link " aria-current="page" href="{% url 'landing-page' %}" id="home">Home</a>
                        </li>

                        <li class="nav-item dropdown nav-items">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Resources
                            </a>
                            <ul class="dropdown-menu dropdown1">
                                <li><a class="dropdown-item dropdown-items" href="{% url 'faq-page' %}">FAQs</a></li>
                                <li><a class="dropdown-item dropdown-items" href="{% url 'blog-page' %}">Blogs</a></li>
                                <li><a class="dropdown-item dropdown-items" href="{% url 'api-page' %}">Documentation</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-items">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Tools
                            </a>
                            <div class="dropdown-menu dropdown1 wide-nav ">
                                <div class="row ">
                                    <div class="text-center">
                                        <h5 class="text-center"><strong>Split Files</strong></h5>
                                        <a class="dropdown-item text-center" href="{% url 'csvsplitter' %}">Chunk CSV
                                            </a>
                                        <a class="dropdown-item text-center" href="{% url 'jsonsplitter' %}">Chunk JSON</a>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li class="nav-item nav-items">
                            <a class="nav-link" href="{% url 'contact-page' %}">Contact</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <div class="nav navbar-nav navbar-right">
                        <div class="dropdown ">
                            <a href="#" class="dropdown-toggle " data-bs-toggle="dropdown">
                                <span class=" nav-link  navbar-toggler-icon2 mb-3"><img height="40" src="{{request.user.profile_pic.url}}" alt=""> Shawn L.</span></a>
                            <div class=" row dropdown-menu user_dropdownmenu dropdown1 ">
                                <div class="m-4"><a href="{% url 'profile-page' %}" class="nav-link2">Profile</a></div>
                                <div class="m-4"><a href="{% url 'dashboard' %}" class="nav-link2">Saved Items</a></div>

                                <div class="">

                                    <a href="{% url 'account_logout' %}">
                                        <button href="" class="btn btn-subscribe1 m-3">
                                            <span>
                                                <i class="fa-solid fa-right-from-bracket"></i>
                                            </span>
                                Logout</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="d-flex inbtn">
                        <a href="{% url 'account_signup' %}">
                            <button type="button" class="btn btn-subscribe2 mr-3">Sign Up</button>
                        </a>
                        <a href="{% url 'account_login' %}">
                            <button type="button" class="btn btn-subscribe1">Log In</button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>