<div class="container-fluid Subscription mt-5 ">
    <div class="text-center pt-5 pb-3">
        <h2 class="contact-header">Subscribe to Our NewsLetter</h2>
        <p class="contact-paragraph pt-2 pb-4">We constantly work towards serving you better. subscribing to our news letter means getting the latest update about our product and services</p>
    </div>
    <div class="container text-center pb-3">
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
                <div class="col-sm-auto col-lg-6 mb-3">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="background-color: #0E103D;">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                        </div>
                        <input type="text " class="form-control " id="inlineFormInputGroupUsername2 " placeholder="enter email">
                    </div>
                </div>
                <div class="col">

                </div>
            </div>
            <button type="button" class="btn-subscribe text-center">Subscribe</button>
            <a href="{% url 'contact-page' %}">
                <button type="button" class="btn-subscribe1 text-center"> Contact Us</button>
            </a>

        </div>

    </div>
</div>