<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saved Files</title>
    <!--Bootstrap--->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!--Custom CSS--->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!--Testimonial Specific CSS--->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>

    
    <!--Google Fonts--->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200;300;400;500;600&display=swap" rel="stylesheet">

    <!--Fontawesome CDN--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

</head>

<body>
    <!------------------------------Navbar Section------------------------------->
    {% include 'navbar.html' %}

    <!--------Header Section-->



    <!-- TESTIMONIALS SECTION 1-->
    <section class="testimonials">
        <div class="container">
    
        <div class="row">
            <div class="col-sm-12">
            <div class="container-fluid px-3 px-sm-5 my-5 text-center">
                <h1>Testimonials</h1>
                <h3>Bytsfy makes you happy.</h3>
                <p>More than 1 Billion people uses Bystfy to help them with their work.</p>
            </div>
            <div id="customers-testimonials" class="owl-carousel">
    
                <!--TESTIMONIAL 1 -->
                <div class="item">
                <div class="shadow-lg p-4 bg-white rounded">
                    <img src="../assets/img/t1.jpg" alt="Grace Loveth">
                    <h5 class="pb-2 pt-3">Grace Loveth, <span>Nigeria</span></h5>
                    <p class="mb-0 text-muted">Bytsfy has helped me a lot in converting my json files to csv & chunking them into smaller files which has contributed to my productivity and flexibility in my current project.</p>
                </div>             
                </div>
                <!--END OF TESTIMONIAL 1 -->

                <!--TESTIMONIAL 2 -->
                <div class="item">
                <div class="shadow-lg p-4 bg-white rounded">
                    <img  src="../assets/img/t2.jpg" alt="John Crystals">
                    <h5 class="pb-2 pt-3">John Crystals, <span>Tanzania</span></h5>
                    <p class="mb-0 text-muted">Flexing around with Bytsfy to accomplish my project's data chunking and storage. I am stunned with the platform's speed & ability to store the chunked files.</p>
                </div>
                
                </div>
                <!--END OF TESTIMONIAL 2 -->
                <!--TESTIMONIAL 3 -->
                <div class="item">
                <div class="shadow-lg p-4 bg-white rounded">
                    <img src="../assets/img/t3.jpg" alt="Jane Williams">
                    <h5 class="pb-2 pt-3">Jane Williams, <span>USA</span></h5>
                    <p class="mb-0 text-muted">Bytsfy has been instrumental to my productivity due to the platform's ability to chunk my usually-large csv files into smaller bits.</p>
                </div>
                
                </div>
                <!--END OF TESTIMONIAL 3 -->
                <!--TESTIMONIAL 4 -->
                <div class="item">
                <div class="shadow-lg p-4 bg-white rounded">
                    <img  src="../assets/img/t4.jpg" alt="Steve Dave">
                    <h5 class="pb-2 pt-3">Steve Dave, <span>Mexico</span></h5>
                    <p class="mb-0 text-muted">Converting my CSV file into JSON and vice versa when needed has been fast, easy and helpful using Bytsfy. Kudos to the team, mehn!</p>
                </div>
                
                </div>
                <!--END OF TESTIMONIAL 4 -->

                <!--TESTIMONIAL 5 -->
                <div class="item">
                <div class="shadow-lg p-4 bg-white rounded">
                    <img src="../assets/img/t5.jpg" alt="Shulamite Orero">
                    <h5 class="pb-2 pt-3">Shulamite Orero, <span>Kenya</span></h5>
                    <p class="mb-0 text-muted">Bytsfy has helped me a lot in chunking my csv document into smaller files which has ultimately contrbuted to the improved productivity in my projects.</p>
                </div>             
                </div>
                <!--END OF TESTIMONIAL 5 -->
        
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- END OF TESTIMONIALS -->
  
    <!-- START OF TESTIMONIALS SECTION 2 -->
    <section class="s2-testimonials">
        <div class="container">
    
        <div class="row">
            
<!-- Testimonial 1-->
<div class="col-sm-12">         
    <div class="image-left">
        <div class="col-sm-4">
            <img src="../assets/img/t1.jpg" alt="Grace Loveth"/>
        </div>
        <div class="col-sm-8 tcontent">
            <h3 class="pb-2 pt-3">Grace Loveth, <span>Nigeria</span></h3>
            <h5 class="pb-2 pt-3">Data Analyst</h5>
            <p>Bytsfy has helped me a lot in converting my json files to csv & chunking them into smaller files which has contributed to my productivity and flexibility in my current project.</p>
        </div>
    </div>
</div>
    
<!-- Testimonial 2-->
<div class="col-sm-12">          
    <div class="image-right">
        <div class="col-sm-8 tcontent">
            <h3 class="pb-2 pt-3">John Crystals, <span>Tanzania</span></h3>
            <h5 class="pb-2 pt-3">Frontend Developer</h5>
            <p>Flexing around with Bytsfy to accomplish my project's data chunking and storage. I am stunned with the platform's speed & ability to store the chunked files.</p>         
        </div>
        <div class="col-sm-4">
            <img src="../assets/img/t2.jpg" alt="John Crystals"/>
        </div>
    </div>
</div>

<!-- Testimonial 3 -->
<div class="col-sm-12">
                
    <div class="image-left">
        <div class="col-sm-4">
            <img src="../assets/img/t5.jpg" alt="Shulamite Orero"/>
        </div>
        <div class="col-sm-8 tcontent">
            <h3 class="pb-2 pt-3">Shulamite Orero, <span>Kenya</span></h3>
            <h5 class="pb-2 pt-3">Fullstack Developer</h5>
            <p>Bytsfy has helped me a lot in chunking my csv document into smaller files which has ultimately contrbuted to the improved productivity in my projects.</p>
        </div>
    </div>
</div>


<div class="col-sm-12">
        <div class="testimonial-button">        

            <a class="btn-subscribe bkg" href="#">Give Us a Review</a>
        
            <a class="btn-subscribe" href="#">Get Started Now</a>
       

    </div>
</div>


</div>
</div>
</section>
<!-- END OF TESTIMONIALS SECTION 2 -->



<!---------------------Footer Section---------------------->
{% include 'footer.html' %}



<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>

<!-- Testimonial Slider-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
  jQuery(document).ready(function($) {
                "use strict";
                //  TESTIMONIALS CAROUSEL HOOK
                $('#customers-testimonials').owlCarousel({
                    loop: true,
                    center: true,
                    items: 3,
                    margin: 0,
                    autoplay: true,
                    dots:true,
                    autoplayTimeout: 5000,
                    smartSpeed: 890,
                    responsive: {
                      0: {
                        items: 1
                      },
                      768: {
                        items: 2
                      },
                      1170: {
                        items: 3
                      }
                    }
                });
            });
</script>


</html>