<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="" method="post" encType="multipart/form-data">
    {% csrf_token %}
    <!--    {{ form }}-->
    <input type="file" name="file"><br>
    <input type="checkbox"><br>

    <input name="spec_size" type="number"

    <!-- <select name="split_type" id="split_t"> -->
    <!-- <option value="by_line">split_by_line</option>
    <option value="by_size">Split_by_size</option> -->
    <!-- </select>  -->

    <button type="submit">chunk</button>
</form>
</body>
</html>