*{
    margin: 0px;
}
body{
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
main{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
   gap: 15px;
   font-size: 20px;
   position: fixed;
  
 }

 .codecontainer{
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 2px 0;
    
 }
 .code {

    border-radius: 5px;
    font-size: 40px;
    height: 40px;
    width: 70px;
   border: none;
    border-bottom: 2px solid gray;
   outline-width: 0;
     margin: 0%;
text-align: center;
    font-weight: 200;
   
    margin-left: 10px;
  }
   /*Code for removing the inner counters in the box*/
   .code::-webkit-outer-spin-button,
   .code::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
    
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
.btn{
    font-weight: bolder;
    font-size: 15px;
    background-color: #676767;
    border: none;
    width: 20%;
    height: 35px;
    border-radius: 10px;
   
}

    
@media only screen and (max-width: 600px) {
.btn{
    width: 50%;
}


    .codecontainer {
      flex-wrap: wrap;
    }
   
    .code {
      font-size: 40px;
      height: 50px;
      max-width: 70px;
    }
  
    
}