*{
    margin: 0;
}




main{
    width: 100%;
    margin: 200px auto;

    text-align: center;
    display: flex;
    flex-direction: column;
   gap: 20px;
   font-size: 20px;
   position: fixed;

}

.btn{
    font-weight: bolder;
    font-size: 15px;
    background-color: #676767;
    border: none;
    width: 20%;
    height: 35px;
    border-radius: 5px;
}
.btn:hover{
    background-color: #072F69 ;
}
@media only screen and (max-width: 600px) {
    .btn{
        width: 50%;
    }
    
    
        
    }