.first-section-bg{
    background-color: rgba(9, 21, 64, 0.1);
    padding-top: 92px;
    padding-bottom: 83px;
    padding-right: 62px;
    padding-left:83px;
}

h3{
    font-size: 40px;
    color: #091540;
    text-align: justify;
    text-justify: auto;
    Line-height:58.51px;
    
}
h5{
    font-size:20px;
    color: #000000;
    font-weight: 700;
}

.link-color{
    color: #091540;
    
}