@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200;300;400;500;600&display=swap');
html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
}


/*------------------------Contact Section------------------------------*/

.contact-header {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #0E103D;
}

.contact-paragraph {
    font-family: 'Mulish', sans-serif;
    color: #0E103D;
}

.btn-contact {
    font-family: 'Montserrat', sans-serif;
    background-color: #0E103D;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 14px;
}

.map {
    width: 100%;
}

#exampleInputEmail1,
#exampleFormControlSelect1,
#exampleFormControlTextarea1 {
    border: 1px solid#4f4f4f;
}


/*------------------------subscription Section------------------------------*/

.Subscription {
    background-color: #D1EAFE;
}

.fa-envelope {
    color: #fff;
    font-size: 24px;
}

.btn-subscribe {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFC700;
    color: #0E103D;
    font-weight: 800;
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid #FFC700;
}

@media (max-width: 650px) {
    .contact-paragraph {
        font-size: 16px;
    }
    .contact-header {
        font-size: 32px;
        font-weight: 700;
    }
}