
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200;300;400;500;600&display=swap");
html {
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
  color: #091540;
}
.ask_section_row {
  padding-left: 70px;
  padding-top: 120px;
  padding-bottom: 70px;
  font-family: "Montserrat", sans-serif;
}
.ask_section_row h1 {
  font-size: 50px;
  color: #091540;
  padding-left: 50px;
}
.ask_section_row h4 {
  color: #091540;
  font-size: 22px;
  padding-left: 50px;
}
.fa-search {
  position: absolute;
  padding: 5px;
  background-color: #ffffff;
  color: #808080;
}
.questions {
  width: 80%;
}
.questions h1 {
  font-size: 55px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #091540;
  padding-top: 50px;
  padding-left: 65px;
  margin: 0px;
}
.questions hr {
  border: 2px solid #808080;
  margin: 0px;
}
.questions h3 {
  padding-top: 80px;
  padding-left: 50px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #091540;
}
.everything {
  /* background-color: antiquewhite; */
  /* padding-right: 150px; */
  margin-left: 40px;
}
.faq_row {
  width: 90%;
  padding-top: 30px;
}
.ans {
  /* border: 1px solid #091540; */
  padding: 10px 45px;
  color: #091540;
  font-weight: 500;
}
.btn-topic {
  color: #091540;
}
.sug,
.feed,
.quest {
  color: rgb(19, 189, 19);
}
.frfc {
  border: 2px solid #091540;
  padding-top: 10px;
  padding-bottom: 10px;
  /* color: #091540; */
  font-weight: 700;
}

@media screen and (max-width: 765px) {
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200;300;400;500;600&display=swap");
html {
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
  color: #091540;
}
.ask_section_row {
  padding-left: 70px;
  padding-top: 120px;
  padding-bottom: 70px;
  font-family: "Montserrat", sans-serif;
}
.ask_section_row h1 {
  font-size: 50px;
  color: #091540;
  padding-left: 50px;
}
.ask_section_row h4 {
  color: #091540;
  font-size: 22px;
  padding-left: 50px;
}
.fa-search {
  position: absolute;
  padding: 5px;
  background-color: #ffffff;
  color: #808080;
}
.questions {
  width: 80%;
}
.questions h1 {
  font-size: 55px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #091540;
  padding-top: 50px;
  padding-left: 65px;
  margin: 0px;
}
.questions hr {
  border: 2px solid #808080;
  margin: 0px;
}
.questions h3 {
  padding-top: 80px;
  padding-left: 50px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #091540;
}
.everything {
  /* background-color: antiquewhite; */
  /* padding-right: 150px; */
  margin-left: 40px;
}
.faq_row {
  width: 90%;
  padding-top: 30px;
}
.ans {
  /* border: 1px solid #091540; */
  padding: 10px 45px;
  color: #091540;
  font-weight: 500;
}
.btn-topic {
  color: #091540;
}
.sug,
.feed,
.quest {
  color: rgb(19, 189, 19);
}
.frfc {
  border: 2px solid #091540;
  padding-top: 10px;
  padding-bottom: 10px;
  /* color: #091540; */
  font-weight: 700;
}

@media screen and (max-width: 765px) {
}

