@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200;300;400;500;600&display=swap");
html {
    font-family: "Montserrat", sans-serif;
    font-family: "Mulish", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    scrollbar-width: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


/*------------------------Contact Page------------------------------*/

.contact-header {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #0e103d;
    padding-left: 15px;
}

.contact-paragraph {
    font-family: "Mulish", sans-serif;
    color: #0e103d;
}

.btn-contact {
    font-family: "Montserrat", sans-serif;
    background-color: #0e103d;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    border-radius: 5px;
    padding: 10px 14px;
}

.map {
    width: 100%;
}

#exampleInputEmail1,
#exampleFormControlSelect1,
#exampleFormControlTextarea1 {
    border: 1px solid#4f4f4f;
}


/*--------subscription Section---------*/

.Subscription {
    background-color: #d1eafe;
}

.fa-envelope {
    color: #fff;
    font-size: 24px;
}

.btn-subscribe {
    font-family: "Montserrat", sans-serif;
    background-color: #ffc700;
    color: #0e103d;
    font-weight: 800;
    border-radius: 5px;
    padding: 10px 16px;
    border: 1px solid #ffc700;
    width: 150px;
}

.btn-subscribe1 {
    font-family: "Montserrat", sans-serif;
    background-color: #0e103d;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 16px;
    border: 1px solid #0e103d;
    width: 150px;
}


/*-----------------Blog Page--------------*/


/*-----------------Blog Page--------------*/

.first-section-bg {
    background-color: rgba(9, 21, 64, 0.1);
    padding-top: 92px;
    padding-bottom: 83px;
    padding-right: 62px;
    padding-left: 83px;
}

.blogHeader {
    text-decoration: none;
    color: #323c60;
}

.blog-post {
    background-color: rgba(9, 21, 64, 0.1);
}

.blogh4 {
    font-size: 40px;
    color: #323c60;
}

.blogh3 {
    font-size: 40px;
    color: #091540;
    text-align: left;
    text-justify: auto;
    line-height: 58.51px;
}

.blogh5 {
    font-size: 20px;
    text-align: left;
}

@media (max-width: 500px) {
    .first-section-bg {
        background-color: rgba(9, 21, 64, 0.1);
        padding-top: 12px;
        padding-bottom: 13px;
        padding-right: 12px;
        padding-left: 13px;
    }
    card {
        width: 100%;
    }
}

.blog-post {
    background-color: rgba(9, 21, 64, 0.1);
}

.blogh4 {
    font-size: 40px;
    color: #323c60;
}

.blogh3 {
    font-size: 40px;
    color: #091540;
    text-align: left;
    text-justify: auto;
    line-height: 58.51px;
}

.blogh5 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}

.blog-link-color {
    color: #091540 !important;
}

.blog-link-color {
    color: #091540 !important;
}


/*------------------------Tools Page------------------------------*/

.tools-page {
    margin-left: 30%;
}

.tools-header {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #0e103d;
    padding-left: 15px;
}

.choose_file label {
    display: block;
    border: 2px dashed #0e103d;
    border-radius: 10px;
    padding: 15px;
    width: calc(200% - 50px);
    margin: auto;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}

.error-file {
    display: block;
    border-radius: 10px;
    padding: 15px;
    width: calc(220% - 50px);
    margin: auto;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}

.error-p {
    margin: 10em 0 0 0;
}

.error-img {
    margin: 6em 0 6em 10em;
}

.btn-div {
    position: relative;
    text-align: center;
    float: left;
    margin-left: 44.5%;
    background-color: #0e103d;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 16px;
    border: 1px solid #0e103d;
}

.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.btn-div:hover {
    text-decoration: underline;
}


/* 
.btn-files {
    font-family: 'Montserrat', sans-serif;
    background-color: #0E103D;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid #0E103D;
} */

.split-bg {
    background-color: #74c0fc;
}

.divider {
    background-color: #0e103d;
    border: 2px solid #74c0fc;
}

.Split-text_header {
    font-weight: 700;
    color: #0e103d;
    margin: 25px 0 25px 40px;
    margin: 25px 0 25px 50px;
}

.Split-text_item {
    margin: 25px 0 25px 50px;
}

.split-bg_p {
    font-size: small;
}

.bg_p {
    font-size: smaller;
    margin: 25px 0 25px 50px;
}


/*------------------------tools2 Page------------------------------*/

.btn-disable {
    font-family: "Montserrat", sans-serif;
    background-color: #cccccc;
    color: #808080;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid #cccccc;
    width: 150px;
}

.toolsNav-Icon {
    width: 30px;
    height: 30px;
}

.toolsNav-text {
    font-size: 14px;
}


/*----------------------Profile Page----------------------------*/

.Profile {
    background-color: #d1eafe;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 12px #d1eafe;
    /* margin-left: 16px; */
}

#profile-btn {
    background-color: #0e103d;
    color: #fff;
    font-weight: 600;
    width: 12%;
    height: 8vh;
    border: 1px solid #0e103d;
    border-radius: 5px;
}


/*--------Personal info Section---------*/

.profile-hero {
    display: flex;
    flex-direction: row;
}

.dummy-profile {
    width: 150px;
    height: 150px;
    padding-right: 15px;
}

.Profile-name {
    color: #0e103d;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.Profile-email {
    color: #1698ff;
}

.Profile-heading {
    color: #0e103d;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}


/*--------contact info Section---------*/


/* -----------------------Sign in and Sign up Section----------------- */

.main_section {
    width: 80%;
    /* padding-bottom: 50px; */
}

.whole_section {
    display: flex;
    flex-direction: row;
}

.hellosection {
    padding-bottom: 20px;
    padding-top: 30px;
}

.signin_image img,
.signup_image img {
    width: 90%;
    height: auto;
}

.signin_image {
    width: 50%;
}

.signin {
    width: 50%;
    box-sizing: border-box;
    box-shadow: 2px 1px 4px #000000;
    border-radius: 4px;
    padding-bottom: 30px;
}

.singinsectn,
.singupsectn {
    width: 76%;
}

.signinup_logo {
    width: 150px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: #091540;
}

.container_getStrtd {
    text-align: center;
}

p {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    color: #091540;
}

.google,
.github {
    border: 1px solid #cccccc;
    font-family: "Mulish", sans-serif;
    border-radius: 3px;
}

.google img {
    padding-right: 10px;
    padding-bottom: 5px;
    width: 30px;
}

hr {
    width: 130px;
}

::placeholder,
label {
    font-size: small;
    font-family: "Mulish", sans-serif;
}

label {
    font-weight: 700;
}

.last_paragraph {
    color: #091540;
}

.forgotpwd,
.terms_os,
.privacy_p,
.sign_in,
.sign_up {
    font-size: 13px;
    color: #091540;
}

form .btn {
    background-color: #091540;
    font-size: small;
    color: #ffffff;
    font-family: "Mulish", sans-serif;
}

.last_paragraphP {
    font-size: 13px;
}


/* ------------------------------FAQ Section----------------------------- */

.ask_section {
    background-color: #e3f2fe;
}

.ask_section_row {
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    padding-top: 120px;
    padding-bottom: 70px;
    font-family: "Montserrat", sans-serif;
}

.ask_section_row h1 {
    font-size: 50px;
    color: #091540;
    padding-left: 50px;
}

.ask_section_row h4 {
    color: #091540;
    font-size: 22px;
    padding-left: 50px;
}

.fa-search {
    position: absolute;
    padding: 9px;
    background-color: #ffffff;
    color: #808080;
}

.search input {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
    padding-left: 10px;
}

.faqs h1 {
    font-size: 55px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #091540;
    padding-top: 50px;
}

.faq_row {
    width: 90%;
    padding-top: 10px;
}

.faq_row .all_row {
    display: flex;
    flex-direction: row;
    /* background-color: antiquewhite; */
    width: 95%;
    padding-bottom: 70px;
}

.all_row .first_column {
    width: 50%;
}

.all_row .second_column {
    padding-left: 50px;
    width: 50%;
}

.ans {
    padding: 10px 45px;
    color: #091540;
}

.question_title .btn_tile {
    font-size: large;
    text-align: left;
}

.row1_column1 img {
    padding-left: 100px;
}

.row2_column1 img {
    padding-left: 26px;
}

.row3_column1 img {
    padding-left: 206px;
}

.row4_column1 img {
    padding-left: 215px;
}

.row5_column1 img {
    padding-left: 162px;
}

.row6_column1 img {
    padding-left: 243px;
}

.row7_column1 img {
    padding-left: 178px;
}

.row1_column2 img {
    padding-left: 24px;
}

.row2_column2 img {
    padding-left: 73px;
}

.row3_column2 img {
    padding-left: 72px;
}

.row4_column2 img {
    padding-left: 190px;
}

.row5_column2 img {
    padding-left: 42px;
}

.row6_column2 img {
    padding-left: 49px;
}

.sug,
.feed,
.quest {
    color: rgb(19, 189, 19);
}


/*--------Security info Section---------*/

.change-paasword {
    color: #0e103d;
    font-weight: 500;
}


/*--------------------Saved Files Section------*/

.dash-header {
    background-color: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding-left: 26px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dash-box {
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dash-row {
    background: #fbfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dash-header {
    background-color: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding-left: 26px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dash-box {
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dash-row {
    background: #fbfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 77px;
}

.dash-text {
    color: #091540;
    text-decoration: none;
}

.dash-table-row {
    max-width: 100%;
}

.dash-table {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 100%;
    /*--- word-break: break-word;---*/
}

.saved-check {
    width: 32px;
    height: 32px;
    background: #d9d9d9;
    border-radius: 8px;
    border: none;
}

.fileHistoryButon {
    width: 126px;
    height: 25px;
    align-items: center;
    padding: 2.5px 10px 5px 10px;
    background: rgba(13, 192, 10, 0.3);
    color: #0dc00a;
    border-radius: 10px;
    border: none;
}

.fileHistoryButon2 {
    width: 126px;
    height: 25px;
    align-items: center;
    padding: 2.5px 10px;
    background: rgba(230, 47, 47, 0.3);
    border-radius: 10px;
    color: #e62f2f;
    border: none;
}


/*------------------------Home Page------------------------------*/


/*--------Navbar Section---------*/

.nav-ul {
    margin-left: 20%;
    color: #0e103d;
    font-weight: 600;
    font-size: 16px;
}

.nav-ul li a #home {
    color: #0e103d;
}

.nav-ul li a:hover {
    color: #74c0fc;
    font-weight: 700;
}

#home {
    color: #0e103d;
    font-weight: 600;
    font-size: 16px;
}

#home:hover {
    color: #74c0fc;
    font-weight: 700;
}

.nav-items {
    padding: 0 20px;
    color: #0e103d;
}

.navbar-toggler {
    color: #74c0fc;
}

.nav-icon {
    color: #74c0fc;
    font-size: 28px;
}

.wide-nav {
    min-width: max-content;
}

.wide-nav {
    min-width: max-content;
}

.navbar-toggler-icon2 {
    display: inline-block;
    width: 20%;
    width: auto;
    height: 31px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #091540;
}

.nav-link2 {
    color: #091540;
    text-decoration: none;
}

.nav-link2 {
    color: #091540;
    text-decoration: none;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: auto;
}

.dropdown1 {
    background-color: #d1eafe;
}

.dropdown1 {
    background-color: #d1eafe;
    color: #0e103d;
}

.dropdown-items:hover {
    background-color: #fff;
    color: #0e103d;
}

#nav-btn {
    background-color: #0e103d;
    color: #fff;
    font-weight: 600;
    width: 8vw;
    height: 6vh;
}

#nav-btn1 {
    color: #0e103d;
    font-weight: 600;
}

#nav-btn1:hover {
    color: #0e103d;
    font-weight: 600;
    border: 1px solid #0e103d;
    width: 8vw;
    height: 6vh;
}


/*--------Footer Section---------*/

.footer {
    background: url("../img/Footer-Bg-Desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    color: #fff;
    background-color: #ffc700;
    position: relative;
    color: #fff;
}

.copyright {
    background: url("../img/CopyrightBG-Desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}

li {
    list-style-type: none;
    text-decoration: none;
}

ul a {
    text-decoration: none;
    color: rgb(216, 216, 216);
    padding: 1px;
}

ul a:hover {
    color: #ffc700;
}

.footer-header {
    padding-top: 48px;
    font-size: 20px;
}

.fa-brands,
.fa-solid {
    font-size: 20px;
}

.footer-header {
    padding-top: 48px;
}

.footer-header:hover {
    color: #ffc700;
}

.termspolicy {
    display: flex;
    flex-direction: row;
}

.copy-span {
    color: #ffc700;
    font-weight: 600;
}

.chatimg {
    width: 60px;
}

.chattext {
    padding-left: 20px;
}

.footer-chat {
    border: 1px solid #ffc700;
    padding: 25px 0px 15px 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.footer-line {
    border: 1px solid #ffc700;
    margin: auto;
}

.footer-p {
    color: #fff;
    font-size: 12px;
}

@media (max-width: 500px) {
    .first-section-bg {
        background-color: rgba(9, 21, 64, 0.1);
        padding-top: 12px;
        padding-bottom: 13px;
        padding-right: 12px;
        padding-left: 13px;
    }
    card {
        width: 100%;
    }
}

@media (max-width: 650px) {
    /*------------------------contact Page------------------------------*/
    .contact-paragraph {
        font-size: 16px;
    }
    .contact-header {
        font-size: 32px;
        font-weight: 700;
    }
    /*------------------------Tools Page------------------------------*/
    .btn-Download {
        width: 150px;
    }
    .d-flex {
        flex-direction: column;
    }
    #split-icon {
        width: 25%;
        height: 25%;
        margin: 0 0 5% 15%;
    }
    .tools-header {
        font-size: 32px;
        margin: 0 0 5% -47%;
    }
    .btn-div {
        margin-left: 25%;
        margin-bottom: 3%;
    }
    .split-bg_p {
        font-size: small;
    }
    .bg_p {
        font-size: smaller;
    }
    /*--------split Section--------------*/
    .choose_file label {
        display: block;
        width: calc(100% - 50px);
        /* margin: auto; */
        text-align: center;
        cursor: pointer;
        background-color: #fff;
    }
    .Split-text_header {
        margin: 5px 0 25px -25px;
        font-size: 20px;
    }
    .Split-text_item {
        margin: 5px 0 0 -55px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px 0 25px 15px;
        font-size: 20px;
    }
    .Split-text_item {
        margin: 5px 0 0 5px;
    }
    .Split-option_header {
        font-size: 20px;
    }
    .split-bg_p {
        margin: 10% 0 25px 50px;
    }
    .tools-nav {
        display: flex;
        flex-direction: column;
    }
    /*--------footer Section--------------*/
    .termspolicy {
        margin: auto;
    }
    .footer-header {
        padding-top: 16px;
    }
    /*--------navbar Section--------------*/
    #nav-btn {
        width: 28vw;
        height: 8vh;
    }
    #nav-btn1 {
        color: #0e103d;
        font-weight: 600;
    }
    #nav-btn1:hover {
        width: 28vw;
        height: 8vh;
    }
    .nav-ul {
        margin-left: -2%;
    }
    /*------------------------profile Page------------------------------*/
    .middle-form {
        margin-top: 1.5em;
    }
    #profile-btn {
        background-color: #0e103d;
        color: #fff;
        font-weight: 600;
        width: 100%;
        height: 8vh;
        border: 1px solid #0e103d;
        border-radius: 5px;
    }
    /* -----------------------Sign in and Sign up Section----------------- */
    .main_section {
        width: 90%;
    }
    .logo_section {
        margin: auto;
    }
    .whole_section {
        display: flex;
        flex-direction: column;
    }
    /* .whole_section .signin_image,
  .signup_image {
    align-content: center;
  } */
    .signin_image img,
    .signup_image img {
        /* width: 60%; */
        height: auto;
        padding-left: 70px;
        /* padding-right: 60px; */
    }
    .signin {
        width: 50%;
        box-sizing: border-box;
        box-shadow: none;
        border-radius: 4px;
        padding-bottom: 30px;
    }
    .singinsectn,
    .singupsectn {
        width: 85%;
    }
    .logo_section {
        width: 60px;
        padding-bottom: 40px;
        align-content: center;
    }
    hr {
        width: 130px;
    }
    label {
        font-weight: 700;
    }
    .last_paragraph {
        color: #091540;
    }
    .signin {
        width: 50%;
        box-sizing: border-box;
        /* box-shadow: 2px 1px 4px #000000; */
    }
    .forgotpwd,
    .terms_os,
    .privacy_p,
    .sign_in,
    .sign_up {
        font-size: 12px;
        color: #091540;
    }
    .last_paragraphP {
        font-size: 12px;
        padding-top: 20px;
    }
    /* ------------------------------FAQ Section----------------------------- */
    .ask_section {
        background-color: #e3f2fe;
    }
    .ask_section_row {
        display: flex;
        flex-direction: column;
        padding-left: 70px;
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .ask_section_row h1 {
        font-size: 40px;
        padding-left: 10px;
    }
    .ask_section_row h4 {
        font-size: 20px;
        padding-left: 0px;
    }
    .fa-search {
        position: absolute;
        padding: 17.5px;
        background-color: #ffffff;
        color: #808080;
    }
    .search input {
        padding-top: 14px;
        padding-bottom: 14px;
        width: 325px;
    }
    .faqs h1 {
        font-size: 40px;
        font-weight: 600;
        padding-top: 60px;
    }
    .faq_row .all_row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .all_row .first_column {
        width: 100%;
    }
    .all_row .second_column {
        padding-left: 0px;
        width: 100%;
    }
    .row1_column1 img {
        padding-left: 100px;
    }
    .row2_column1 img {
        padding-left: 35px;
    }
    .row3_column1 img {
        padding-left: 194px;
    }
    .row4_column1 img {
        padding-left: 205px;
    }
    .row5_column1 img {
        padding-left: 160px;
    }
    .row6_column1 img {
        padding-left: 233px;
    }
    .row7_column1 img {
        padding-left: 173px;
    }
    .row1_column2 img {
        padding-left: 37px;
    }
    .row2_column2 img {
        padding-left: 84px;
    }
    .row3_column2 img {
        padding-left: 83px;
    }
    .row4_column2 img {
        padding-left: 190px;
    }
    .row5_column2 img {
        padding-left: 55px;
    }
    .row6_column2 img {
        padding-left: 62px;
    }
}