@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200;300;400;500;600&display=swap");

html {
    font-family: "Montserrat", sans-serif;
    font-family: "Mulish", sans-serif;
    color: #091540;
}

.fstsection {
    width: 80%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.fstsection1 h1 {
    padding-top: 140px;
    font-family: "Montserrat", sans-serif;
}

.fstsection1 p {
    padding-right: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #091540;
    font-family: "Mulish", sans-serif;
}

.fstsection1a .get_s,
.secsection_col2 .read_m,
.sevsection_btn .give_review,
.conversion .subscribe {
    border: 1px solid #091540;
    background-color: #091540;
    padding: 8px 25px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}

.fstsection1a .how_w,
.secsection_col2 .get_s {
    /* border: 2px solid #091540; */
    padding: 8px 20px;
    font-family: "Montserrat", sans-serif;
}

.fstsection2 img {
    width: 400px;
    padding-top: 50px;
}

.secsection1 {
    display: flex;
    flex-direction: row;
}

.secsection,
.fifsection,
.ninsection {
    background-color: #e3f2fe;
    padding-bottom: 40px;
}

.secsection_about,
.thrdsection_feat,
.sixsection_feat {
    font-family: "Montserrat", sans-serif;
    color: #091540;
}

.secsection1 .secsection_col1 {
    width: 50%;
}

.secsection1 .secsection_col2 {
    width: 50%;
}

.secsection_col2 h2 {
    font-family: "Mulish", sans-serif;
    padding-right: 150px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.secsection_col2 p {
    font-weight: 600;
    font-size: 15px;
    padding-right: 50px;
}

.secsection_btn {
    padding-top: 50px;
}

.carousel_pix {
    border-radius: 10px;
    width: 90%;
}

.thrdsection_feat,
.sixsection_feat {
    padding-left: 350px;
    padding-right: 350px;
    color: #091540;
}

.thrdsection_feat p,
.sixsection_feat p,
.sevsection_test p,
.egtsection_test p {
    font-size: small;
    color: #091540;
    font-family: "Mulish", sans-serif;
}

.row1 {
    padding-bottom: 60px;
}

.thrdsection .row1 {
    width: 60%;
}

.thrdsection1 {
    background: linear-gradient(279.5deg, #091540 10.12%, #008fff 322.8%), #091540;
}

.col .dev,
.col .data,
.col .business,
.col .ecommerce {
    font-weight: 800;
    color: #091540;
    font-family: "Mulish", sans-serif;
}

.row2 {
    width: 80%;
    font-family: "Mulish", sans-serif;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
}

.row2 img {
    width: 45px;
}

.row2 .col {
    padding-right: 60px;
}

.conversion {
    text-align: center;
}

.conversion .json_csv {
    color: #091540;
    background-color: #008fff;
    font-weight: 600;
}

.conversion .csv_json {
    color: #008fff;
    border: 2px solid #008fff;
    font-weight: 600;
}

.row3 {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.row3 img {
    width: 300px;
}

.frtsection h2 {
    font-family: "Montserrat", sans-serif;
    color: #091540;
    font-weight: 600;
}

.frtsection p {
    font-family: "Mulish", sans-serif;
    color: #091540;
    font-weight: 600;
    font-size: small;
}

.frtsection .btn {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: small;
}

.frtsection .API {
    color: #091540;
}

.frtsection .dwn_ext {
    background-color: #848a9f;
}

.row3 .easy_int {
    padding-right: 150px;
    padding-top: 50px;
}

.ext_img {
    padding-bottom: 70px;
}

.fifsection h1,
.fifsection h4 {
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    color: #091540;
}

.fifsection h4 {
    padding-right: 10px;
}

.card_row {
    display: flex;
    flex-direction: row;
}

.card .cardone {
    background-color: #e3f2fe;
}

.cardone,
.carddetails {
    width: 270px;
}

/* .card_row p {
  color: #091540;
  font-size: small;
  font-family: "Mulish", sans-serif;
} */
.cardone img {
    border-radius: 15px;
}

.card_title .btn {
    background-color: #091540;
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.sixsection .row4 {
    width: 85%;
    display: flex;
    flex-direction: row;
}

.row4 .profile_pix {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #74c0fc;
}

.sixsection1 {
    background: linear-gradient(279.5deg, #091540 10.12%, #008fff 322.8%), #091540;
    font-family: "Mulish", sans-serif;
    text-align: center;
}

.conversion .team_memb,
.conversion .cont_us {
    color: #091540;
    background-color: #ffc700;
    font-weight: 700;
    padding: 8px 25px;
}

.sixsection1 h6 {
    color: #ffc700;
    font-weight: 700;
}

.sixsection1 .lead {
    font-size: small;
    font-weight: bold;
}

.sixsection1 .team_description {
    text-align: center;
}

.fa-linkedin {
    color: #ffffff;
    padding: 5px;
    background: #1275b1;
    border-radius: 50%;
}

.fa-twitter {
    color: #1275b1;
}

.col .google,
.col .figma {
    width: 18px;
}

.team_sml {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.team_sml a {
    text-decoration: none;
}

.flex-container .team_sml {
    text-align: center;
}

.sixsection .conversion {
    padding-top: 30px;
}

.sevsection {
    padding-bottom: 50px;
}

.sevsection p,
.egtsection p,
.ninsection p {
    padding-left: 430px;
    padding-right: 430px;
    color: #091540;
}

.sevsection_btn .give_review {
    font-size: small;
}

.egtsection h1,
.ninsection h1,
.frtsection h1,
.faq_col1,
.faq_col2 {
    font-family: "Montserrat", sans-serif;
    color: #091540;
}

.egtsection_faq {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
}

.col .faq_row11 {
    font-size: small;
}

.egtsection {
    padding-bottom: 50px;
}

.conversion .subscribe {
    font-weight: 600;
}

.search {
    width: 60%;
}

.fa-envelope {
    padding: 13px;
    background-color: #091540;
    color: #ffffff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.email input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 400px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
}

::placeholder {
    padding-left: 15px;
}

.ninsection .ninsection_email {
    width: 60%;
}

/* .team_sml */
/* .faq_col1 .ans {
  font-size: small;
  font-weight: 700;
} */

@media screen and (max-width: 650px) and (min-width: 360px) {
    .fstsection {
        width: 100%;
        padding-bottom: 150px;
        display: flex;
        flex-direction: column;
        background: rgba(9, 21, 64, 0.9) url(/assets/images/undraw_designer_girl_re_h54c.png);
        /* background: rgba(9, 21, 64, 0.9)
        url(/assets/images/undraw_designer_girl_re_h54c.png); */
        border-bottom-right-radius: 50px;
        background-position: center;
        background-size: cover;
        /* background-repeat: no-repeat; */
        /* opacity: 0.5; */
    }

    .fstsection .fstsection2 {
        display: none;
    }

    .fstsection1 h1 {
        padding-top: 80px;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        color: #ffffff;
    }

    .fstsection1 p {
        /* padding-right: 20px; */
        font-size: 13px;
        font-weight: 500;
        color: #ffffff;
        font-family: "Mulish", sans-serif;
        text-align: center;
    }

    .fstsection1a .get_s {
        border: 1px solid #74c0fc;
        background-color: #74c0fc;
        padding: 8px 25px;
        font-family: "Montserrat", sans-serif;
        color: #091540;
        margin-top: 50px;
    }

    .fstsection1a .how_w {
        border: 2px solid #74c0fc;
        padding: 8px 20px;
        font-family: "Montserrat", sans-serif;
        color: #74c0fc;
        margin-top: 50px;
    }

    .secsection1 {
        display: flex;
        flex-direction: column;
    }

    .secsection h1 {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .secsection_col2 .read_m {
        border: 1px solid #091540;
        background-color: #091540;
        padding: 8px 20px;
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
    }

    .secsection_col2 .get_s {
        border: 2px solid #091540;
        padding: 8px 15px;
        font-family: "Montserrat", sans-serif;
        color: #091540;
    }

    .secsection1 .secsection_col1 {
        width: 100%;
    }

    .secsection1 .secsection_col2 {
        width: 90%;
    }

    .secsection_col2 h2 {
        font-family: "Mulish", sans-serif;
        font-weight: 700;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .secsection_col2 p {
        font-weight: 600;
        font-size: 10px;
    }

    .secsection_btn {
        padding-top: 20px;
    }

    .carousel_pix {
        border-radius: 10px;
        /* width: 90%; */
    }

    .thrdsection .row1 {
        display: none;
    }

    .thrdsection h1 {
        padding-top: 40px;
    }

    .thrdsection_feat,
    .sixsection_feat {
        padding-left: 85px;
        padding-right: 85px;
        color: #091540;
    }

    .thrdsection_feat p {
        font-size: smaller;
    }

    .row2 {
        font-family: "Mulish", sans-serif;
        display: flex;
        flex-direction: column;
    }

    .row2 {
        width: 100%;
        padding-left: 5px;
    }

    .row2 img {
        width: 40px;
    }

    .row2 .col {
        padding-right: 160px;
    }

    .conversion {
        text-align: left;
    }

    .row3 {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
    }

    .row3 img {
        width: 300px;
    }

    .frtsection {
        padding-bottom: 30px;
    }

    .frtsection h1,
    .ninsection h1 {
        padding-top: 30px;
    }

    .frtsection h2 {
        font-weight: 700;
    }

    .row3 .easy_int {
        padding-right: 75px;
    }

    .ext_img {
        padding-bottom: 40px;
        padding-left: 50px;
    }

    .fifsection h1 {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .card_row {
        display: flex;
        flex-direction: column;
    }

    .cardone .card_title {
        padding-right: 200px;
    }

    .cardone img {
        width: 400px;
    }

    .cardone,
    .carddetails {
        width: 100%;
    }

    .sixsection1,
    .thrdsection1 {
        padding-top: 30px;
    }

    .sixsection .row4 {
        width: 85%;
        display: flex;
        flex-direction: column;
    }

    .sixsection1 .col {
        padding-bottom: 20px;
    }

    .row4 img {
        width: 130px;
    }

    .team_sml {
        display: flex;
        flex-direction: row;
        width: 70%;
    }

    .sixsection_feat {
        padding-top: 30px;
    }

    .sevsection {
        padding-bottom: 50px;
    }

    .sevsection p,
    .egtsection p,
    .ninsection p {
        padding-left: 80px;
        padding-right: 80px;
        color: #091540;
    }

    .egtsection_faq {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    /* .col .faq_row11 {
      font-size: small;
    } */
    .egtsection {
        padding-bottom: 50px;
    }

    .ninsection p {
        padding-left: 70px;
        padding-right: 70px;
        color: #091540;
    }

    .ninsection .conversion {
        padding-top: 40px;
    }

    .conversion .subscribe {
        font-weight: 600;
    }

    .search {
        width: 60%;
    }

    .fa-envelope {
        padding: 15px;
        background-color: #091540;
        color: #ffffff;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .email input {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 200px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        position: absolute;
    }

    ::placeholder {
        padding-left: 15px;
    }

    .ninsection .ninsection_email {
        width: 100%;
    }
}
