@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200;300;400;500;600&display=swap");
html {
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
}
/* *{
     margin: 0;
} */
main {
  width: 70%;
  /* background-color: bisque; */
}
.hsectncol1 {
  width: 60%;
}
.hsectncol2 {
  background-color: #f4faff;
}
img {
  width: 450px;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
.container_getStrtd {
  text-align: center;
}
p {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}
.hsectncol1 p {
  font-size: large;
}
.google,
.facebook {
  border: 1px solid #cccccc;
  font-family: "Mulish", sans-serif;
}
.fa-google,
.fa-facebook {
  border-radius: 3px;
}
hr {
  width: 130px;
}
::placeholder,
label {
  font-size: small;
  font-family: "Mulish", sans-serif;
}
label {
  font-weight: 700;
}
.last_paragraph {
  color: #091540;
}
.forgotpwd,
.terms_os,
.privacy_p,
.sign_in,
.sign_up {
  font-size: 13px;
  color: #091540;
}
.signup_btn,
.signin_btn {
  background-color: #091540;
  /* font-size: small; */
}
.last_paragraphP{
  font-size: 13px;
}
